@font-face {
  font-family: "Roboto";
  src: url("../Roboto/Roboto-Regular.ttf");
  src: url("../Roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Comfortaa";
  src: url("../Comfortaa/Comfortaa-VariableFont_wght.ttf");
  src: url("../Comfortaa/static/Comfortaa-Bold.ttf")
}

:root {
  --content-padding: 10px;
}

body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, #Header {
  font-family: 'Comfortaa', cursive;
}

button {
  padding: 10px;
  font-family: 'Comfortaa', cursive;
  font-weight: 400;
  font-size: 12pt;
  color: #03104F;
  border-radius: 10px;
  border: #03104F solid 2px;
  margin: 0 1%;
}

button:hover {
  border: #3B357C solid 2px;
  box-shadow: 2px 3px #3a3a3a;
  padding: 11px;
}

select {
  font-family: 'Comfortaa', cursive;
  color: #03104F;
  border-radius: 5px;
  border: #03104F solid 2px;
  margin-top: 1%;
}

a {
  color: #03104F;
}

a:hover {
  color: #FFFFFF;
}

#content {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  grid-gap: 10px;
}

#Header {
  background-color: #03104F;
  color: whitesmoke;
  padding: 20px;
}

#StatsControl {
  background-color: #D8C8FF;
  padding: var(--content-padding);
}

#CardControl {
  background-color: #3B357C;
  color: white;
  padding: var(--content-padding);
}

#FeedControl {
  background-color: #D8C8FF;
  padding: var(--content-padding);
}

.radioButton {
  margin-top: 1%;
  margin-right: 3%;
}